.body {
    height: 2500px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #222;
    background-repeat: no-repeat;
}

.bgimage {
    height: 100vh;
    width: 100%;
    position: float;
}

