input {
    color: rgb(12, 80, 226);
    padding: 0px;
    margin: 20px;
    left: 500px;
    bottom: 20px;
}

align-text {
    color: rgb(12, 80, 226);
    padding: 0px;
    margin: 0px;
    left: 500px;
    top: 10px;
}

h4 {
    color: rgb(59, 137, 168);
}
