/* .sked.h4 {
    padding: 2px;
    color: aquamarine;
    background-image: url('')
} */
#btn {
  height: auto;
  width: auto;
  display: flex;
  text-align: auto;
  padding: 1px;
  color: rgb(0, 0, 0);
}