.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #333;
}

.navbar navbar-dark {
  background-color: #3b5998;
  overflow: hidden;
  height: 60px;
  position: fixed;
}

.selector-for-some-widget {
  box-sizing: content-box;
}


body {
  font-family: 'Arial', serif;
  background-color: rgba(34, 34, 34, 0.486);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #333;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer {
  height: auto;
  width: 100%;
  background-color: #343a40;
  color: gray;
  font-weight: 400;
  position: fixed;
  bottom: 0;
  

}


/* Add media queries for smaller screens */
 @media screen and (max-width:720px) { */
  .weekdays li, 
  .days li {width: 13.1%;}

}

@media screen and (max-width: 420px) {
  .weekdays li, 
  .days li {width: 12.5%;}
  .days li 
  .active {padding: 2px;}

}

@media screen and (max-width: 290px) {
  .weekdays li, 
  .days li {width: 12.2%;}
  
}