body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: transparent;
}










.whitefont {
  color: rgba(38, 170, 247, 0.781);
  padding: 25px 1px 5px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;
}



.imgClass {
  padding: 20px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: row nowrap;
  height: 100%;


}

h4 {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h5 {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

h6 {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}


.backlink {
  position: fixed;
  bottom: 10px;
  right: 30px;
}

